name: Generate Snake (Dracula)

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Generate snake SVG
        uses: Platane/snk@v3
        with:
          github_user_name: lennon624
          github_token: ${{ secrets.GITHUB_TOKEN }}
          outputs: |
            snake.svg?palette=dracula
